@model Spring2015.SubSkill

@{
    ViewBag.Title = "Create";
}

<h2>Create SubSkill</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>SubSkill</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.SkillID, "SkillID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SkillID", String.Empty)
                @Html.ValidationMessageFor(model => model.SkillID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutcomeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutcomeID)
                @Html.ValidationMessageFor(model => model.OutcomeID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.BKLevel2Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BKLevel2Id)
                @Html.ValidationMessageFor(model => model.BKLevel2Id)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SkillSetNum1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillSetNum1)
                @Html.ValidationMessageFor(model => model.SkillSetNum1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillNum2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillNum2)
                @Html.ValidationMessageFor(model => model.SkillNum2)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SubSkillNum3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubSkillNum3)
                @Html.ValidationMessageFor(model => model.SubSkillNum3)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ShortName, new { rows = "1", cols = "70" })
                @Html.ValidationMessageFor(model => model.ShortName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Name, new { rows = "2", cols = "70" })
                @Html.ValidationMessageFor(model => model.Name)
                @Html.HiddenFor(model => model.SkillID)
                @Html.HiddenFor(model => model.SkillSetNum1)
                @Html.HiddenFor(model => model.SkillNum2)
                @Html.HiddenFor(model => model.SubSkillNum3)
            </div>
        </div>
            
       

        <div class="form-group">
            @Html.LabelFor(model => model.JobAdWords, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobAdWords, new { rows = "2", cols = "200" })
                @Html.ValidationMessageFor(model => model.JobAdWords)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.SkillID })
</div>
