@model Spring2015.SubSkill

@{
    ViewBag.Title = "Details";
}

<h2>SubSkill Details</h2>

<div>
    @*<h4>SubSkill</h4>*@
	<hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.OutcomeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutcomeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BKLevel2Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BKLevel2Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillSetNum1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillSetNum1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillNum2)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.SkillNum2)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SubSkillNum3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSkillNum3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobAdWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobAdWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubskillsinBk2.SubskillsBk2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubskillsinBk2.SubskillsBk2ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubskillsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
