@model IEnumerable<Spring2015.SubSkill>

@{
    ViewBag.Title = "Index";
}

<h2>SubSkill</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        @*<th>
            @Html.DisplayNameFor(model => model.OutcomeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKLevel2Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillSetNum1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillNum2)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SubSkillNum3)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobAdWords)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Skill.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubskillsinBk2.SubskillsBk2ID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="radio" name="RdSubSkill" id="@item.SubskillsID" value=@item.SubskillsID />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.OutcomeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKLevel2Id)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.SkillSetNum1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillNum2)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SkillSetNum1) . @Html.DisplayFor(modelItem => item.SkillNum2) . @Html.DisplayFor(modelItem => item.SubSkillNum3)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobAdWords)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Skill.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubskillsinBk2.SubskillsBk2ID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubskillsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubskillsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubskillsID })
        </td>
    </tr>
}

</table>
