@model IEnumerable<Spring2015.Course>

@{
    // ViewBag.Title = "Index";
}

<h2>List Course</h2>

<script>
    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdn_selected_Course").val() = e;
        selectedIndex = e;
        alert($("#hdn_selected_Course").val());
    }

    function getValue() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=RdCourse]:checked').val() != null) {
            radioanswer = $('input[name=RdCourse]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/Outcome/Index/" + radioanswer;
        }
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        @*<th>
            @Html.DisplayName("CourseNumber")
        </th>*@
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.CourseNumber)

        </th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        @*<th>
                @Html.DisplayNameFor(model => model.CatalogCopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prerequisites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearInCurriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discussion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section.Name)
            </th>*@
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
{

    <tr>

        <td>
            @{if (Convert.ToInt32(TempData["CourseID"]) == Model.ElementAt(i).CourseID || (i == 0 && TempData["CourseID"] == null))
{
    <input type="radio" name="RdCourse" id="@Model.ElementAt(i).CourseID" value=@Model.ElementAt(i).CourseID checked="checked" />
}
              else
              {
                <input type="radio" name="RdCourse" id="@Model.ElementAt(i).CourseID" value=@Model.ElementAt(i).CourseID />
              }
}

        </td>
        <td style="padding-left:45px">
            @Html.DisplayFor(modelItem => Model.ElementAt(i).SectionNumber).@Html.DisplayFor(modelItem => Model.ElementAt(i).CourseNumber)
        </td>
        @*<td style="padding-left:15px">
            @Html.DisplayFor(modelItem => Model.ElementAt(i).SectionID) . @Html.DisplayFor(modelItem => Model.ElementAt(i).CourseID)
        </td>*@
        <td >
            @Html.DisplayFor(modelItem => Model.ElementAt(i).ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
        </td>

        @*<td>
                @Html.DisplayFor(modelItem => item.CatalogCopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prerequisites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearInCurriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discussion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).CourseID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(i).CourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).CourseID })
        </td>
    </tr>
}

</table>

<div style="text-align: center;">

    <input id="btnOutcome" type="button" name="btnOutcome" value="Outcomes" class="btn btn-primary" onclick="getValue();" />


</div>