@model IEnumerable<Spring2015.Skill>

@{
    //ViewBag.Title = "Index";
}

<h2>List Skill</h2>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=radio]").click(function () {
            var $this = $(this);
            $this.parents("btnSubSkill:first").find("input[type=radio]").not($this).prop("checked", false);
            $(":hidden[name='hdn_selected_Skill']").val() = $('input[name=RdSkill]:checked').val();
        });
        $(":radio").click(function () {
            var inputValue = $this.val();
            $(":hidden[name='hdn_selected_Skill']").val() = inputValue;
        });
    });
</script>*@

<script type="text/javascript">

    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdn_selected_Skill").val() = e;
        selectedIndex = e;
        alert($("#hdn_selected_Skill").val());
    }

    function getValue() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=RdSkill]:checked').val() != null) {
            radioanswer = $('input[name=RdSkill]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/SubSkill/Index/" + radioanswer;
        }
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        @*<th>
            @Html.DisplayNameFor(model => model.SkillSetNum1)
        </th>*@
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.SkillNum2)

        </th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.SkillSet.Name)
        </th>*@
        <th></th>
    </tr>

@for (int i = 0; i < Model.Count(); i++)
{

    <tr>

        <td>
            @{if (Convert.ToInt32(TempData["SkillID"]) == Model.ElementAt(i).SkillID || (i == 0 && TempData["SkillID"] == null))
{
    <input type="radio" name="RdSkill" id="@Model.ElementAt(i).SkillID" value=@Model.ElementAt(i).SkillID checked="checked" />
}
              else
              {
                <input type="radio" name="RdSkill" id="@Model.ElementAt(i).SkillID" value=@Model.ElementAt(i).SkillID />
              }
}

        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.SkillSetNum1)
            </td>*@
        <td style="padding-left:45px">
            @Html.DisplayFor(modelItem => Model.ElementAt(i).SkillSetNum1).@Html.DisplayFor(modelItem => Model.ElementAt(i).SkillNum2)
        </td>
        <td style="padding-left:30px">
            @Html.DisplayFor(modelItem => Model.ElementAt(i).ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>*@
        @*<td>
                @Html.DisplayFor(modelItem => item.SkillSet.Name)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).SkillID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(i).SkillID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).SkillID })
        </td>
    </tr>
}

</table>
@Html.Hidden("hdn_selected_Skill", 0)

<div style="text-align: center;">

    <input id="btnSubSkill" type="button" name="btnSubSkill" value="SubSkill" class="btn btn-primary" onclick="getValue();" />
    @*@Html.ActionLink("Skill", "Index", new { id = 1 }, new { @class = "btn btn-primary", @type = "button" })*@
</div>

