@model IEnumerable<Spring2015.Curriculum>

<script>
    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdnselectedIndex").val() = e;
        selectedIndex = e;
        alert($("#hdnselectedIndex").val());
    }

    function getValue() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=group1]:checked').val() != null) {
            radioanswer = $('input[name=group1]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/SkillSet/Index/" + radioanswer;
        }
    }
</script>
<script>
    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdnselectedIndex").val() = e;
        selectedIndex = e;
        alert($("#hdnselectedIndex").val());
    }

    function getValue1() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=group1]:checked').val() != null) {
            radioanswer = $('input[name=group1]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/BK1/Index/" + radioanswer;
        }
    }
</script>

@{
    //ViewBag.Title = "Index";
}

<h2>Curriculum</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td><input type="radio" id="radiobtn" name="group1" value="@item.CurriculumID" /></td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurriculumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurriculumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurriculumID })
        </td>
    </tr>
}
    @Html.Hidden("hdnselectedIndex", 0, null)
</table>

<div style="text-align: center;">

    <input id="btnSkillSet" type="button" name="btnSkillSet" value="Skill Set" class="btn btn-primary" onclick="getValue();"/>
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input id="btnBKLevel1" type="button" name="btnBKLevel1" value="BKLevel1" class="btn btn-primary" onclick="getValue1();" />

</div>

<script type="text/javascript">

</script>
