@model IEnumerable<Spring2015.Section>

@{
    //ViewBag.Title = "Index";
}

<h2>Section</h2>

<script type="text/javascript">

    function getValue() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=RdSection]:checked').val() != null) {
            radioanswer = $('input[name=RdSection]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/Course/Index/" + radioanswer;
        }
    }
</script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Curriculum.Name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="radio" name="RdSection" id="@item.SectionID" value=@item.SectionID />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Curriculum.Name)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SectionID })
        </td>
    </tr>
}

</table>
@Html.Hidden("hdn_selected_Section", 0)

<div style="text-align: center;">

   @* <input id="btnSection" type="button" name="btnSection" value="Courses" class="btn btn-primary" onclick="getValue();" />
    @Html.ActionLink("Skill", "Index", new { id = 1 }, new { @class = "btn btn-primary", @type = "button" })*@
</div>  