@model IEnumerable<Spring2015.Section>

@{
    //ViewBag.Title = "Index";
}

<h2>List Section</h2>

<script>
    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdn_selected_Section").val() = e;
        selectedIndex = e;
        alert($("#hdn_selected_Section").val());
    }

    function getValue2() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=RdSection]:checked').val() != null) {
            radioanswer = $('input[name=RdSection]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/Course/Index/" + radioanswer;
        }
    }
</script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.ShortName)
        </th>

        <th style="width:100px">
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Curriculum.Name)
            </th>*@
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
{

    <tr>

        <td>
            @{if (Convert.ToInt32(TempData["SectionID"]) == Model.ElementAt(i).SectionID || (i == 0 && TempData["SectionID"] == null))
{
    <input type="radio" name="RdSection" id="@Model.ElementAt(i).SectionID" value=@Model.ElementAt(i).SectionID checked="checked" />
}
              else
              {
                <input type="radio" name="RdSection" id="@Model.ElementAt(i).SectionID" value=@Model.ElementAt(i).SectionID />
              }
}

        </td>
   
        <td style="padding-left:30px">
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).ShortName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).Purpose)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Curriculum.Name)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.ElementAt(i).SectionID }) |
            @Html.ActionLink("Details", "Details", new { id = @Model.ElementAt(i).SectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = @Model.ElementAt(i).SectionID })
        </td>
    </tr>
}

</table>
@Html.Hidden("hdn_selected_Section", 0)

<div style="text-align: center;">

    <input id="Course" type="button" name="btnCourse" value="Course" class="btn btn-primary" onclick="getValue2();" />
</div>  