@model IEnumerable<Spring2015.BKLevel1>

@{
    //ViewBag.Title = "Index";
}

<h2>BKLevel1</h2>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=radio]").click(function () {
            var $this = $(this);
            $this.parents("group:first").find("input[type=radio]").not($this).prop("checked", false);
            $(":hidden[name='hdn_selected_BKLevel1']").val() = $('input[name=RdBKLevel1]:checked').val();
        });
        $(":radio").click(function () {
            var inputValue = $this.val();
            $(":hidden[name='hdn_selected_BKLevel1']").val() = inputValue;
        });
    });
</script>*@
<script>
    var selectedIndex = 0;
    function getSelectedRow(e) {
        alert(e);
        $("#hdn_selected_BKLevel1").val() = e;
        selectedIndex = e;
        alert($("#hdn_selected_BKLevel1").val());
    }

    function getValue2() {
        // alert();
        // var skillcurr = $("form:radio:checked").val();
        var radioanswer = 0;
        if ($('input[name=RdBKLevel1]:checked').val() != null) {
            radioanswer = $('input[name=RdBKLevel1]:checked').val();
        }
        //var selectedId = $('#hdnSelectedId').val();
        // alert(radioanswer);
        if (radioanswer > 0) {
            window.location.href = "/BK2/Index/" + radioanswer;
        }
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.NumberLevel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Curriculum.Name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="radio" name="RdBKLevel1" id="@item.BKLevel1ID" value=@item.BKLevel1ID />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberLevel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Curriculum.Name)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BKLevel1ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BKLevel1ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BKLevel1ID })
        </td>
    </tr>
}

</table>

@Html.Hidden("hdn_selected_BKLevel1", 0)
<div style="text-align: center;">

    <input id="btnBKLevel2" type="button" name="btnBKLevel2" value="BKLevel2" class="btn btn-primary" onclick="getValue2();" />


</div>

<div style="text-align: center;">
    @* @Html.ActionLink("Go To Skills", "Skills", new { id = 1 }, new { @class = "btn btn-primary", @type = "button" })*@
</div>
