@model IEnumerable<Spring2015.BKLevel2>

@{
    //ViewBag.Title = "Index";
}

<h2>List BKLevel2</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=radio]").click(function () {
            var $this = $(this);
            $this.parents("group:first").find("input[type=radio]").not($this).prop("checked", false);
            $(":hidden[name='hdn_selected_BKLevel2']").val() = $('input[name=RdBKLevel2]:checked').val();
        });
        $(":radio").click(function () {
            var inputValue = $this.val();
            $(":hidden[name='hdn_selected_BKLevel2']").val() = inputValue;
        });
    });
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.NumberLevel1)
            </th>*@
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.NumberLevel2)
        </th>
        <th style="width:100px">
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.BKLevel1.Name)
            </th>*@
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
{

    <tr>

        <td>
            @{if (Convert.ToInt32(TempData["BkLevel2_id"]) == Model.ElementAt(i).BKLevel2ID || (i == 0 && TempData["BKLevel2ID"] == null))
            {
                <input type="radio" name="RdBKLevel2" id="@Model.ElementAt(i).BKLevel2ID" value=@Model.ElementAt(i).BKLevel2ID checked="checked" />
            }
            else
            {
                <input type="radio" name="RdBKLevel2" id="@Model.ElementAt(i).BKLevel2ID" value=@Model.ElementAt(i).BKLevel2ID />
            }
            }

        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.NumberLevel1)
            </td>*@
        <td style="padding-left:45px">
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).NumberLevel1). @Html.DisplayFor(modelItem => @Model.ElementAt(i).NumberLevel2)
        </td>
        <td style="padding-left:30px">
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.ElementAt(i).Name)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.BKLevel1.Name)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.ElementAt(i).BKLevel2ID }) |
            @Html.ActionLink("Details", "Details", new { id = @Model.ElementAt(i).BKLevel2ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = @Model.ElementAt(i).BKLevel2ID })
        </td>
    </tr>
}

</table>
