@model Spring2015.BKLevel2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BKLevel2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberLevel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberLevel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberLevel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberLevel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BKLevel1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BKLevel1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BKLevel2ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
